.AuthForm .navbar-text a {
  color: #6c757d;
  font-size: 14px;
}

.AuthForm button {
  background-color: #dc3545;
  border: none;
  border-radius: 8px;
  color: white;
  height: 40px;
  font-size: 15px;
  text-transform: uppercase;
  width: 100%;
}
